body {
	

}

#content {
	padding-top: 5%;
	padding-left: 15%;
	padding-bottom: 15%;
	padding-right: 15%;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #ffdcdc;
	width: 50%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	
}

